/* Basscss Color Progress */

@import 'basscss-defaults';

.progress {
  background-color: var(--darken-2);
  border: 0;
  border-radius: 10000px;
}

.progress::-webkit-progress-bar {
  -webkit-appearance: none;
  background-color: var(--darken-2)
}

.progress::-webkit-progress-value {
  -webkit-appearance: none;
  background-color: currentColor;
}

.progress::-moz-progress-bar {
  background-color: currentColor;
}

